<% if(theme.comments.enable && theme.comments.disqus.enable) { %>
  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://<%- theme.comments.disqus.shortname %>.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>

<% if (theme.comments.enable && theme.comments.valine.enable) { %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

  <div id="vcomments"></div>

  <script>
    new Valine({
      el: '#vcomments',
      appId: 'AofFxR0c20AhC2ylsAiVxHbr-MdYXbMMI',
      appKey: 'cn4VBm5X31qPnmQmaV0e14oL',
      placeholder: '<%- theme.comments.valine.placeholder %>',
      avatar: '<%- theme.comments.valine.avatar %>',
      lang: '<%= config.language %>'
    })
  </script>
<%
  if (!theme.comments.valine.vempty_display) { %>
    <style>
      .comments-container .v .vempty {
        display: none!important;
      }
    </style>
<%  }
  } %>

<% if (theme.comments.enable && theme.comments.gitalk.enable) { %>
  <div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.4.15/dist/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo-admin.vercel.app',
  el: '#tcomment',
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，如果您的环境地域不是上海，需传此参数
  path: 'window.location.pathname', // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/dev/src/js/utils/i18n/index.js
})
</script>
<% } %>
